footer {
    bottom: 0;
    justify-content: center;
    align-items: center;
    .footer-container{
    text-align: center;
    background-color: #d3d3d352;
    height: 60px;
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}
