header {

    background-color: white;
    height: 60px;
    .header-container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1200px;
        margin: auto 30px;
        padding: 15px 0;
    }
  }