@media (max-width: 768px) {
main{
    display: flex !important;
}
.container{
    display: flex !important;
    flex-direction: row;
    .right-sec{
        display: none;
    }
}
button{
    font-size: 14px !important;

}
}