@media (min-width: 991px) {
.main{
    display: flex;
.container{
    display: flex !important;
    flex-direction: row;
    grid-template-areas: "right-sec"
    "left-sec";
    .right-sec{
        display: none;
    }
}
button{
    font-size: 14px;
    font-weight: normal;
}
}}