* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #0077ff;
  --grey: #667093;
  --border-color: #cccfdb;
  --text-dark-color: #00104b;
}

body {
  font-family: "Figtree", sans-serif;
  color: var(--grey);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  height: 40px;
}

footer {
  background-color: lightgrey;
  height: 40px;
  max-width: 1200px;
}

main {
  min-height: 100vh;
  margin-top: 30px;
  background-color: #d3d3d30f;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% auto;
      grid-template-columns: 55% auto;
  max-width: 1200px;
  margin: auto;
}

.right-sec {
  position: relative;
}

.right-sec img {
  width: 100%;
  position: relative;
}

.right-sec .shape {
  position: absolute;
  width: 30%;
  background-color: #d6a9d078;
  bottom: 0;
  top: 50px;
  right: 0px;
  left: 50px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: var(--text-dark-color);
  font-family: inherit;
  margin: 0 0 24px 0;
}

li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
}

li svg {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px;
  color: var(--color-primary);
}

.gender-container-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.gender-container-area .gender-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  height: 7rem;
  width: 8rem;
}

.gender-container-area label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gender-container-area label:hover, .gender-container-area label:focus, .gender-container-area label:checked {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  outline: none;
}

.gender-container-area label:hover path, .gender-container-area label:hover rect, .gender-container-area label:hover circle, .gender-container-area label:focus path, .gender-container-area label:focus rect, .gender-container-area label:focus circle, .gender-container-area label:checked path, .gender-container-area label:checked rect, .gender-container-area label:checked circle {
  fill: white;
}

.gender-container-area label:hover #male-leftarm, .gender-container-area label:focus #male-leftarm, .gender-container-area label:checked #male-leftarm {
  -webkit-animation: wave 2s;
          animation: wave 2s;
  -webkit-transform-origin: 69px 33px;
          transform-origin: 69px 33px;
}

.gender-container-area label:hover #female-leftarm, .gender-container-area label:focus #female-leftarm, .gender-container-area label:checked #female-leftarm {
  -webkit-animation: wave 2s;
          animation: wave 2s;
  -webkit-transform-origin: 69px 33px;
          transform-origin: 69px 33px;
}

.gender-container-area svg {
  display: block;
  margin: auto;
}

.gender-container-area input[type=radio] {
  width: 0;
  height: 0;
  position: absolute;
}

.gender-container-area input[type="radio"]:active + label {
  border-radius: 6px;
  border: 2px solid var(--color-primary);
}

.gender-container-area input[type="radio"]:checked + label {
  border-color: green;
  border-radius: 6px;
  border: 2px solid var(--color-primary);
}

.gender-container-area input[type="radio"]:checked #male-leftarm {
  -webkit-animation: wave 2s;
          animation: wave 2s;
  -webkit-transform-origin: 69px 33px;
          transform-origin: 69px 33px;
}

@-webkit-keyframes wave {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  30% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
  }
  75% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
}

@keyframes wave {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  30% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
  }
  75% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
}

.left-sec {
  margin: auto 30px;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin: 30px auto;
}

.input-field {
  position: relative;
}

.input-field .standar-input {
  height: 50px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--text-dark-color);
  background-color: white;
  outline: none;
  font-size: 16px;
}

.input-field span {
  position: absolute;
  left: 0;
  padding: 0 10px;
  pointer-events: none;
  color: var(--border-color);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transform: translateX(10px) translateY(-7px);
          transform: translateX(10px) translateY(-7px);
  background-color: white;
}

.input-field input:valid ~ span,
.input-field input:focus ~ span {
  color: var(--color-primary);
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.input-field.error input {
  border: 1px solid #ff5252;
  border-radius: 6px;
}

.input-field.error span {
  color: #ff5252;
}

.input-field.success input {
  border: 1px solid var(--color-primary);
  border-radius: 6px;
}

.input-field.success span {
  color: var(--color-primary);
}

.input-field .error {
  color: #ff5252;
  font-size: 14px;
  height: 13px;
}

button {
  background-color: var(--color-primary);
  border-radius: 6px;
  border-style: none;
  color: white;
  text-align: center;
  padding: 12px 24px;
}
/*# sourceMappingURL=style.css.map */